* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10% auto;

}

.nf {
  position: relative;
  padding: 20px 10px 10px;
  width: 230px;
  border: 2px #000 solid;
  font-family: sans-serif;
}

.nf__header {
  display: block;
  position: absolute;
  margin-left: 7px;
  padding-left: 3px;
  padding-right: 5px;
  height: 25px;
  top: -15px;
  background: #fff;
}

.nf__title {
  display: inline;
  text-align: left;
  font-size: 22px;
  font-style: italic;
}

.nf__info {
  display: block;
  min-height: 15px;
  margin-top: -2px;
}

.nf__info p {
  text-align: right;
  font-size: 13px;
  line-height: 2px;
}

.nf__info--bold {
  font-weight: bold;
  font-size: 15px;
}

.nf__nutrients {
  display: block;
  margin-bottom: 20px;
  border-top: 3px #000 solid;
}

.nutrients__title-type {
  display: inline-block;
  height: 12px;
  font-size: 15px;
  margin-top: 5px;
}

.nutrient {
  position: relative;
  display: flex;
  height: 20px;
  margin-left: 13px;
  padding-top: 4px;
  border-bottom: 1px #000 solid;
  font-size: 14px;
}

.nutrient--main {
  font-size: 14px;
  margin-left: 0;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: none;
}

.nutrient--cursive {
  font-style: italic;
}

.nutrient__name {
  display: inline-flex;
  text-align: left;
}

.nutrient__value {
  position: absolute;
  right: 0;
  font-weight: bold;
}

.nutrient__measure {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
}